<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow pt-0 pb-0">
  <div class="container-fluid ps-0">
    <a class="navbar-brand fw-bold pt-0 pb-0" routerLink="/"><img src="/assets/img/logo.svg" alt="logo tbm" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Link dinámico a Home - ESTÁ CORRECTO -->
        <li class="nav-item" *ngIf="!isHome">
          <a class="nav-link" [routerLink]="ROUTES.HOME" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">Bandas Planas de Transmisión y Transporte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="ROUTES.SOLUCIONES" routerLinkActive="active">Soluciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="ROUTES.TESCO" routerLinkActive="active">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="ROUTES.CONTACTO" routerLinkActive="active">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


