<section class="hero-section">
  <app-carrusel></app-carrusel>
</section>
<section class="sectionDos">
  <div class="container-fluid segunda fndGris">
  <div class="row tituloHome mb-5">
    <h1>NUESTRA ESPECIALIDAD</h1>
    <div class="contA"><a class="btn btn-outline-primary btnHome " [routerLink]="ROUTES.CONTACTO" routerLinkActive="active">Cotizar </a></div>
  </div>
  <div class="row contCardsHome oneCards">
    <div class="col-md-7 cardHome cardBottom">
      <h3>BANDAS PLANAS DE TRANSMISIÓN Y TRANSPORTE</h3>
      <div class="row mb-2 mt-4 gris">
        <div class="col-11 naranja">
          <span>A,B,C,D,E.AX,BX,CX</span>
        </div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>
      <h3>TRANSMISIÓN Y POTENCIA</h3>
      <div class="row mb-2">
        <div class="col-11 naranja">
          <span>HULE+ POLIAMIDA, Tangenciales.</span>
        </div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>

      <div class="row cardContacto mt-4">
        <div class="col-2"><img src="/assets/img/circ.svg" alt="TBM " ></div>
        <div class="col-10 ps-3">
          <div class="row">Email:</div>
          <div class="row">ventas1&#64;bandasdemexico.com</div>
        </div>
      </div>
    </div>
  </div>
</div><!--Bottom-->
<div class="container-fluid segunda">
  <div class="row tituloHome mb-5">
    <h1>CONSULTA NUESTRO CATÁLOGO</h1>
    <div class="contA"><a class="btn btn-outline-primary btnHome " [routerLink]="ROUTES.CONTACTO" routerLinkActive="active">Cotizar </a></div>
  </div>
  <div class="row contCardsHome">
    <div class="col-md-7 cardHome">
      <h2>NUESTROS PRODUCTOS</h2>
      <ng-container *ngFor="let banda of bandas; let i = index">
        <div class="row mb-2" [ngClass]="{'gris': i % 2 === 0}">
          <div class="col-10 naranja">
            <span>{{ banda.name }}:</span> {{ banda.value }}
          </div>
          <div class="col-2" style="display: flex; justify-content: space-around;">
            <a class="nav-link" 
              [href]="'https://wa.me/+525546010347?text=' + 'Hola, me interesa el producto ' + banda.name + ': ' + banda.value" 
              target="_blank"
            >
              <img class="icn" src="/assets/img/whatsApp.svg" alt="WhatsApp">
            </a>
            <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
              <img class="icn" src="/assets/img/mas.svg" alt="TBM">
            </a>
          </div>
        </div>
      </ng-container>
      <div class="row cardContacto mt-4">
        <div class="col-2"><img src="/assets/img/circ.svg" alt="TBM " ></div>
        <div class="col-10 ps-3">
          <div class="row">Email:</div>
          <div class="row">ventas1&#64;bandasdemexico.com</div>
        </div>
      </div>
    </div>
    <div class="col-md-5 cardHome">
      <h2>COMPLEMENTOS</h2>
      <div class="row mb-2 mt-4 gris">
        <div class="col-11 naranja"><span>Empujadores y Guías:</span><br>para transporte de papel, cartón alimentos etc </div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>
      <div class="row mb-2 mt-4">
        <div class="col-11 naranja"><span>VULCANIZADO: </span><br>para sus bandas (pregunte por ellos). </div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>
      <div class="row cardContacto mt-4">
        <div class="col-2"><img src="/assets/img/circ.svg" alt="TBM " ></div>
        <div class="col-10 ps-3">
          <div class="row">Email:</div>
          <div class="row">ventas1&#64;bandasdemexico.com</div>
        </div>
      </div>
    </div>
  </div>
</div><!--TOP-->
<div class="container-fluid segunda fndGris">
  <!-- <div class="row tituloHome mb-5">
    <h1>BANDAS INDUSTRIALES</h1>
    <div class="contA"><a class="btn btn-outline-primary btnHome " [routerLink]="ROUTES.CONTACTO" routerLinkActive="active">Cotizar </a></div>
  </div>
  <div class="row contCardsHome oneCards">
    <div class="col-md-7 cardHome cardBottom">
      <h2>BANDAS PLANAS DE TRANSMISIÓN Y TRANSPORTE:</h2>
      <div class="row mb-2 mt-4 gris">
        <div class="col-11 naranja">
          <span>BANDAS CLÁSICAS:</span>  A,B,C,D,E.AX,BX,CX
        </div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>
      
      <div class="row mb-2 gris">
        <div class="col-11 naranja">
          <span>BANDAS MULTIPLES:</span>  RA,RB,RC.RD,R3V,R5V,R8V
        </div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-11 naranja">
          <span>BANDAS DOBLE:</span>  V AA,BB,CC
        </div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>
      <div class="row mb-2 gris">
        <div class="col-11 naranja">
          <span>BANDAS VELOCIDAD VARIABLE  </span> </div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-11 naranja">
          <span>BANDAS MILIMÉTRICAS:</span> SPZ,SPA,SPB,SPC (Y DENTADAS) </div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>
      <div class="row mb-2 gris">
        <div class="col-11 naranja">
          <span>BANDAS MULTIRIB:</span>  J,L,K,M + <span>BANDA SINCRÓNICA</span> MXL,XL,L,H,XH,XXH </div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-11 naranja">
          <span>DOBLE DENTADAS:</span> DXL, DL, DH </div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>
      <div class="row mb-2 gris">
        <div class="col-11 naranja">
          <span>BANDA SINCRÓNICA MILIMETRICA:</span>  3M,5M,8M,14M,D5M,D8M,D14 </div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-11 naranja">
          <span>BANDA SINCRÓNICA POLIURETANO:</span> T2.5, T5, T10, T20, AT5, AT10, AT20  </div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>
      <div class="row mb-2 gris">
        <div class="col-11 naranja">
          <span>BANDA MIL SUPER TORQUE:</span>  S3M,S5M,S8M,S14M </div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-11 naranja">
          <span>BANDAS ESPECIALES</span></div>
        <div class="col-1">
          <a class="nav-link" [routerLink]="ROUTES.ESPECIALIDAD" routerLinkActive="active">
            <img class="icn" src="/assets/img/mas.svg" alt="TBM " >
          </a>
        </div>
      </div>

      <div class="row cardContacto mt-4">
        <div class="col-2"><img src="/assets/img/circ.svg" alt="TBM " ></div>
        <div class="col-10 ps-3">
          <div class="row">Email:</div>
          <div class="row">ventas1&#64;bandasdemexico.com</div>
        </div>
      </div>
    </div>
  </div> -->
</div><!--Bottom-->
</section>