<div class="container-fluid">
    <div class="row mb-4 mt-5">
            <h1>Contacto</h1>
        </div>
        <div class="content">
            <div class="container">
                <div class="row contacto">
                    <div class="col-lg-7 contenedorcard">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2">
                                <div class="thumb-lg member-thumb mx-auto"><img src="/assets/img/circ.svg" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                <div class="">
                                    <h4>Ventas</h4>
                                    <p class="text-muted">&#64;Director Comercial <span>| </span><span><strong>55 963 8036</strong></span></p>
                                </div>
                               <!--<ul class="social-links list-inline">
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                                </ul>-->
                                <div class="row">
                                    <div class="col-md-6 mb-1">
                                        <a href="https://wa.me/5546010347?text=Hola%2C%20me%20interesa%20cotizar%20bandas" 
                                        target="_blank" 
                                        rel="noopener noreferrer"
                                        class="btn btn-primary clrBrandoraBlck btnPata">
                                        whatsApp
                                        <img src="/assets/img/whatsApp.svg" alt="" class="ms-3 icnBtnPta">
                                        </a>                                        
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <a href="mailto:ventas1@bandasdemexico.com?subject=Consulta%20sobre%20productos&body=Me%20interesa%20recibir%20más%20información%20sobre..." 
                                        target="_blank" 
                                        rel="noopener noreferrer"
                                        class="btn btn-primary clrBrandoraBlck btnPata">
                                        E-mail
                                        <img src="/assets/img/mail.svg" alt="" class="ms-3 icnBtnPta">
                                        </a>                                        
                                    </div>
                                </div> 


                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- container -->
        </div>
</div>

