<div class="row tesco pt-5">
    <img src="/assets/img/logoWhite.svg" alt="" srcset="">
    <p>
       Fabricantes de la marca industrial TESKO®, la cual ofrece la mejor relación costo-beneficio del mercado. 
    </p>
</div>
<div class="container-fluid mt-5 ps-5">
    <div class="row mb-4">
        <h1>Tesko ®</h1>
    </div>
    <div class="container-fluid mb-5">
        <div class="row ">
            <div class="col-md-3 tscoImg">
                <img class="" src="/assets/img/tesco.png" alt="TBM " >
            </div>
            <div class="col-md-8">
                <p>
                TRANSMISSION BELTS MÉXICO (TBM) es una empresa con poco más de 7 años de experiencia en bandas industriales, de transporte y transmisión. 
                </p>     
                <p>
                Lo que nos hace diferentes: EL EQUIPO DE EXPERTOS QUE TENEMOS Tratamos de buscar la mejor solución posible para usted, dependiendo su necesidad. Además, somos fabricantes de la marca industrial TESKO®, la cual ofrece la mejor relación costo-beneficio del mercado.
                </p>
                <a href="/contacto" class="btn btn-primary">Cotizar</a>
            </div>
        </div>
    </div>
    
</div>

