  <!--<div class="container-fluid carruselCont">
     <div class="carrusel">
      <div class="row carruselInt">
          <div class="col-md-6 carruselIzq">
            <div class="contImg"><img class="mx-auto d-block" src="/assets/img/logoWhite.svg" alt=""></div>
            <h2 class="carruselText">¡Tenemos la solución que necesitas!</h2>
            <h2 class="carruselText">Sin importar si:</h2>
          </div>
          <div class="col-md-4 carruselDer">
            <h2 class="carruselText">Necesito optimizar y crecer...</h2>
            <img src="/assets/img/carrusel/crecer.png" alt="">
          </div>        
      </div>
     </div>
  </div>-->
<!-- carrusel.component.html -->
<!-- carrusel.component.html -->
<div class="container-fluid carruselCont">
  <div class="carrusel" [style.background-image]="'url(' + currentItem.background + ')'">
    <div class="row carruselInt" [@slideAnimation]="currentIndex">
      <div class="col-md-6 carruselIzq">
        <div class="contImg"><img class="mx-auto d-block" src="/assets/img/logoWhite.svg" alt=""></div>
        <h2 class="carruselText">¡Tenemos la solución que necesitas!</h2>
        <h2 class="carruselText">Sin importar si:</h2>
      </div>
      <div class="col-md-4 carruselDer">
        <h2 class="carruselText">{{ currentItem.texto }}</h2>
        <img [src]="currentItem.imagen" alt="">
      </div>        
    </div>
  </div>
  

</div>